@font-face {
  font-family: exo2;
  src: url(assets/exo2/Exo2-VariableFont_wght.ttf);
}

body, a, h1, h2, h3 {
  font-family: exo2;
}

h1:not(:first-of-type) {
  margin-top: 100px;
}

li.active {
    background-color: #eeeeee;
}

li.first-level {
    font-size: 1.2em;
}